<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="pages/layout/defaultLayout">
  <head>
    <title>Venda</title>
  </head>
  <body >
      <section layout:fragment="body">

        <section class="content">
          <div class="container-fluid">
            <div class="row">
            <div class="col-md-12">
              <!-- Mensages -->
              <block th:replace="pages/layout/imports/formMensageImport :: formMensageImport"></block>

              <div id="passoMesa" layout:include="pages/venda/passoMesa :: passoMesa"></div>
              <div id="passoCategoria" layout:include="pages/venda/passoCategoria :: passoCategoria"></div>
              <div id="passoProduto"/>
              <div id="passoOpcoesProduto"/>
              <div id="passoConfirmar" class="hidden" layout:include="pages/venda/passoConfirmar :: passoConfirmar"></div>

              <div class="col-md-12">
                <button class="btn btn-primary pull-right hidden" name="btnConcluir">Concluir</button>
              </div>

            </div>
          </div>
          </div>
        </section>
      </section>

      <section layout:fragment="javascript-extra">
        <link th:href="@{/dist/css/pages/venda.css}" rel="stylesheet" type="text/css" />
        <script th:src="@{/dist/js/pages/venda.js}" type="text/javascript"></script>
      </section>
  </body>
</html>