<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="passoConfirmar">
    <div class="box box-default">
        <div class="box-header with-border">
            <a class="btn btn-box-tool btn-block" data-widget="collapse">
                <h3 class="box-title">Confirmar</h3>
                <span class="label label-warning label-lg padding-left-8 lb-origem">Pedido da Mesa 01</span>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool btn-collapse-confirmar" data-widget="collapse">
                        <i class="fa fa-minus pull-right"></i>
                    </button>
                </div><!-- /.box-tools -->
            </a>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="container-fluid">
                <div class="line col-xs-12" th:each="item, itemIndex : ${itens}">
                    <div class="col-xs-1">
                        <a class="pull-left btnRemoverItem" href="javascript:void();" th:attr="data-item-index=${itemIndex.index}">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-xs-10">
                        <label th:text="${item.qtde + 'x'}" >2x </label>
                        <label th:text="${item.produto.nome}" class="padding-left-8">Suco de Uva</label>
                        <span class="hidden">
                            (Com gelo e limão)
                        </span>
                        <span th:text="${'(' + item.observacao + ')'}" th:if="not ${#strings.isEmpty(item.observacao)}">
                            (Obs: Adicionar mais gelo e açucar)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->
</html>