<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

    <div layout:fragment="passoConfirmarLinha">
        <div class="line col-xs-12">
            <div class="col-xs-1">
                <a class="pull-left btnRemoverItem" href="javascript:void();">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-xs-10">
                <label>2x </label>
                <label class="padding-left-8">Suco de Uva</label>
                <span>
                            (Com gelo e limão)
                        </span>
                <span>
                            (Obs: Adicionar mais gelo e açucar)
                        </span>
            </div>
        </div>
    </div>
</html>